html:has(.hero) {
  zoom: 1 !important;
}

html:has(.hero) body {
  background: transparent !important;
}
.hero {
  position: relative;
  height: 100vh;
  background: #091E12;
  overflow: hidden;
}

.light {
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  background: 
  conic-gradient(from 90deg at 50% 50%, #F8F8F8 0deg, #0000009a 1deg, #aaaaaaec 170deg, #f8f8f8 367deg),
  conic-gradient(from 180deg at 50% 50%, #F8F8F8 0deg, rgba(0, 0, 0, 0) 0.04deg, #AAAAAA 356.4deg, #F8F8F8 360deg); 
  mix-blend-mode: color-dodge;
  opacity: 0.5;
}


.light.left {
  left: 0;
}

.light.right {
  right: 0;
  transform: scaleX(-1);
  /* mirror */
}

.title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  font-size: 64px;
  font-weight: 700;

  background: linear-gradient(90deg,
      #205F3B 0%,
      #FFFFFF 50%,
      #134E2C 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px 24px;
  border-radius: 24px;
  border: none;
  background: rgba(15, 15, 15, 0.2);
  box-shadow: 1px 5px 4px rgba(0, 0, 0, 0.25);
}